/**
 * Place your custom CSS styles here.
 **/
#extension_page_title_document_page_title_wrapper_id {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	color: white !important;

	position: fixed !important;
	padding: 0px !important;
	z-index: 99999999 !important;
	margin: 0px !important;
	border-bottom: solid 3px #002752 !important;
	padding-bottom: 2px !important;
	background-color:#002752 !important;
	background:#002752 !important;
}

#extension_page_title_document_page_title_id{
	font-size: 20px !important;
	font-weight: 700 !important;
	margin: 0px !important;
	color: white !important;
}

#extension_page_title_document_page_title_label_id{
	font-size: 12px !important;
	font-weight: 100 !important;
	margin:0px !important;
	text-transform: uppercase !important;
	color: #EEE !important;
}

